
<div class="flex gap-5">
  <div class="bg-app-veryLightGrey w-1/5 h-dvh border border-solid border-app-lightGrey rounded-xl shadow-lg p-5">
    <h2 class="text-center">{{currentUser()?.firstName}} {{currentUser()?.lastName}}</h2>
  </div>
  <div class="bg-app-veryLightGrey flex-col grow h-dvh border border-solid border-app-lightGrey rounded-xl shadow-lg p-5">
    <div class="flex justify-center">
      <h2 class="text-center bg-app-blue rounded-xl p-3 shadow-md">Mes candidatures</h2>
    </div>
  </div>
</div>
