<div class="mb-10">
  <app-tool-bar (searchOutput)="updateResearchValue($event)" (btnValueOutput)="updateFilterBtnValue($event)" (categoryFilterOutput)="updateCategoryFilterValue($event)"
                [allSectors]="allSectorsSignal()" />
</div>
<div class="flex gap-5">
  <div class="space-x-5">
    <app-add-application [allCompanies]="allCompaniesSignal()" [allSectors]="allSectorsSignal()" (showAddCompanyFormOutput)="showAddCompanyFormEvent($event)" (sectorAddedOutput)="refreshSectors()" />
    @if(showAddCompanyForm) {
      <app-add-company (closeAddCompanyFormOutput)="showAddCompanyFormEvent($event)" (companyAddedOutput)="refreshCompanies()"/>
    }
  </div>
  <div class="grow">
    <app-my-applications [myApplications]="filteredApplicationsSignal()" />
  </div>
</div>
