<div class="mb-5">
  <app-tool-bar (searchOutput)="updateResearch($event)" (btnValueOutput)="filterBtnValue($event)" [countApplicationsApplied]="countApplicationsApplied()" [countApplicationsClosed]="countApplicationsClosed()"
                [countApplicationsRelaunched]="countApplicationsRelaunched()" [countApplicationsToApply]="countApplicationsToApply()"
                [countApplicationsToRelaunch]="countApplicationsToRelaunch()" [applicationsTotalCount]="applicationsTotalCount()" />
</div>
<div class="flex gap-5">
  <div class="space-x-5">
    <app-add-application [allCompanies]="allCompaniesSignal()" (showAddCompanyFormOutput)="showAddCompanyFormEvent($event)" (applicationAddedOutput)="refreshApplications()" />
    @if(showAddCompanyForm) {
      <app-add-company (closeAddCompanyFormOutput)="showAddCompanyFormEvent($event)" (companyAddedOutput)="refreshCompanies()"/>
    }
  </div>
  <div class="grow">
    <app-my-applications [myApplications]="filteredApplicationsSignal()" (applicationDeletedOutput)="refreshApplications()"/>
  </div>
</div>
