 <div class="bg-app-blue-100 rounded-xl drop-shadow-xl p-5">
   <h2 class="text-center mb-5">filtres</h2>
   <div class="flex justify-evenly">
     <form class="flex gap-2" [formGroup]="searchForm">
       <label class="self-center" for="searchInput">
         <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#79d8ff"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
       </label>
       <input id="searchInput" name="searchInput" type="text" formControlName="searchInput" placeholder="Rechercher" class="rounded-xl border-0 py-1.5 px-3 drop-shadow-xl ring-1 ring-inset ring-app-blue-100 placeholder:text-app-primaryFontColor-400 sm:text-sm/6 text-app-blue-400">
     </form>
     <div class="flex grow justify-evenly">
       <app-status-chips-btn [count]="countApplicationsToApply()"  [data]=status.toApply (btnValueOutput)="btnValue($event)"/>
       <app-status-chips-btn [count]="countApplicationsApplied()" [data]=status.applied (btnValueOutput)="btnValue($event)"/>
       <app-status-chips-btn [count]="countApplicationsToRelaunch()"  [data]=status.toRelaunch (btnValueOutput)="btnValue($event)"/>
       <app-status-chips-btn [count]="countApplicationsRelaunched()" [data]=status.relaunched (btnValueOutput)="btnValue($event)"/>
       <app-status-chips-btn [count]="countApplicationsClosed()" [data]=status.closed (btnValueOutput)="btnValue($event)"/>
     </div>
   </div>
 </div>
